AskEpamClientApplication/Service References/ServiceReference1/AskEpamEntities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AskEpamEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AskEpamEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkill" nillable="true" type="tns:ArrayOfSkill" />
  <xs:complexType name="Skill">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skill" nillable="true" type="tns:Skill" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfQuestionSection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionSection" nillable="true" type="tns:QuestionSection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionSection" nillable="true" type="tns:ArrayOfQuestionSection" />
  <xs:complexType name="QuestionSection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SectionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionSection" nillable="true" type="tns:QuestionSection" />
  <xs:complexType name="ArrayOfUserComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserComment" nillable="true" type="tns:UserComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserComment" nillable="true" type="tns:ArrayOfUserComment" />
  <xs:complexType name="UserComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdQuestion" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserComment" nillable="true" type="tns:UserComment" />
</xs:schema>