AskEpamClientApplication/Service References/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AskEpamWCFService.Entities" />
  <xs:element name="Handshake">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandshakeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AskQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="area" type="xs:int" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AskEpamWCFService.Entities" minOccurs="0" name="GetAreasResult" nillable="true" type="q1:ArrayOfSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skill" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswerFromClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnswerToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answerer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendListQuestionsToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AskEpamWCFService.Entities" minOccurs="0" name="list" nillable="true" type="q2:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>